name: python tests and coverage

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        python-version: ["3.8", "3.9", "3.10"]
      fail-fast: false

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tox
        run: python -m pip install --upgrade pip setuptools wheel tox
      - name: Run tox
        run: tox -e py
      # - name: Upload coverage to Codecov
      #   uses: codecov/codecov-action@v2
      #   with:
      #     directory: "."
      #     env_vars: OS,PYTHON
      #     fail_ci_if_error: false
      #     files: ./coverage.xml
      #     flags: unittests
      #     name: codecov-umbrella
      #     verbose: true
