name: "python tests and coverage"
# Uses:
# https://github.com/actions/setup-python : v5.6.0 a26af69be951a213d495a4c3e4e4022e16d87065
# https://github.com/actions/checkout : v4.2.2 11bd71901bbe5b1630ceea73d27597364c9af683
# https://github.com/actions/download-artifact : v5.0.0 634f93cb2916e3fdff6788551b99b062d0335ce0
# https://github.com/actions/upload-artifact : v4.6.2 ea165f8d65b6e75b540449e92b4886f43607fa02
# https://github.com/astral-sh/setup-uv : v6.4.3 e92bafb6253dcd438e0484186d7669ea7a8ca1cc

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

env:
  UV_PYTHON_PREFERENCE: "only-system"
  UV_LOCKED: "true"

jobs:
  settings:
    runs-on: "ubuntu-latest"
    name: "Define workflow settings"
    steps:
      - name: "Define settings"
        run: |
          echo "python_version=$(<.python-version)" >> $GITHUB_OUTPUT

  run-tests-and-coverage:
    name: "Run nox for tests and coverage"
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        os:
          # - "macos-latest"
          # - "windows-latest"
          - "ubuntu-latest"
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
      - name: "Repo checkout"
        uses: "actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683"

      - name: "Set up Python ${{ matrix.python-version }}"
        uses: "actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065"
        with:
          python-version: "${{ matrix.python-version }}"
          allow-prereleases: true

      - name: "Install the latest version of uv"
        uses: "astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc"
        with:
          version: "latest"
          python-version: "${{ matrix.python-version }}"
          enable-cache: true

      - name: "Run tests and coverage via nox"
        run: "uv run nox --session test -- partial-coverage no-config"

      - name: "Save coverage artifact"
        uses: "actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02"
        with:
          name: "coverage-artifact-${{ matrix.os}}-${{ matrix.python-version}}"
          path: ".coverage.*"
          retention-days: 1
          include-hidden-files: true

  coverage-compile:
    name: "coverage compile"
    needs: "run-tests-and-coverage"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Repo checkout"
        uses: "actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683"

      - name: "Set up Python"
        uses: "actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065"
        with:
          python-version: ${{ steps.settings.outputs.python_version }}

      - name: "Install the latest version of uv"
        uses: "astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc"
        with:
          version: "latest"
          python-version: ${{ steps.settings.outputs.python_version }}
          enable-cache: true

      - name: "Download coverage artifacts"
        uses: "actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0"
        with:
          pattern: "coverage-artifact-*"
          merge-multiple: true

      - name: "Compile coverage data"
        run: "uv run nox --session combine"

      - name: "Post summary to step summary."
        run: |
          export TOTAL=$(python -c "import json;print(json.load(open('coverage.json'))['totals']['percent_covered_display'])")
          echo "TOTAL=$TOTAL" >> $GITHUB_ENV
          echo "### Total coverage: ${TOTAL}%" >> $GITHUB_STEP_SUMMARY

  linters-and-formatters:
    name: "linters and formattrs"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Repo checkout"
        uses: "actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683"

      - name: "Set up Python"
        uses: "actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065"
        with:
          python-version: ${{ steps.settings.outputs.python_version }}

      - name: "Install the latest version of uv"
        uses: "astral-sh/setup-uv@e92bafb6253dcd438e0484186d7669ea7a8ca1cc"
        with:
          version: "latest"
          python-version: ${{ steps.settings.outputs.python_version }}
          enable-cache: true

      - name: "Enforce strict type annotations with mypy"
        run: "uv run nox --session lint"
